# Interface - Loopback
auto lo
iface lo inet loopback

# Interface - eth0
auto eth0
iface eth0 inet dhcp

{% if container_ip is defined %}
auto eth1
iface eth1 inet manual
    up ip link set $IFACE up
    down ip link set $IFACE down

# Bridge - Management
auto br-mgmt
iface br-mgmt inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports eth1
    address {{ container_ip }}
    netmask 255.255.252.0
{% endif %}

{% if vxlan_ip is defined %}
auto eth2
iface eth2 inet manual
    up ip link set $IFACE up
    down ip link set $IFACE down

auto br-vxlan
iface br-vxlan inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports eth2
    address {{ vxlan_ip }}
    netmask 255.255.252.0
{% endif %}

{% if storage_ip is defined %}
{% if inventory_hostname in groups.compute %}
auto eth3
iface eth3 inet manual
    up ip link set $IFACE up
    down ip link set $IFACE down

auto br-storage
iface br-storage inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports eth3
    address {{ storage_ip }}
    netmask 255.255.252.0
{% else %}
iface eth2 inet manual
    up ip link set $IFACE up
    down ip link set $IFACE down

auto br-storage
iface br-storage inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports eth2
    address {{ storage_ip }}
    netmask 255.255.252.0
{% endif %}
{% endif %}
